@font-face {
  font-family: 'Perpetua';
  src: url('Perpetua.ttf');
}

@font-face {
  font-family: 'Didot';
  src: url('Didot.ttf');
}

@font-face {
  font-family: 'Garamond';
  src: url('Garamond.ttf');
}

@font-face {
  font-family: 'Candara';
  src: url('Candara.ttf');
}

@font-face {
  font-family: 'Arial Narrow';
  src: url('ArialNarrow.ttf');
}

@font-face {
  font-family: 'Geneva';
  src: url('Geneva.ttf');
}

#slide-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 400px;
  width: 600px;
  margin: 0 auto;
}
.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}
.left-arrow {
  left: 20px;
}
.right-arrow {
  right: 20px;
}

Video {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 400px;
  width: 600px;
  margin: 40px auto;
}

Audio {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 600px;
  margin: 60px auto;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh; /* Menggunakan tinggi viewport untuk kotak di tengah layar */;
  padding: 10px;
}

.video-box {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Mengatur teks di tengah vertikal */
  align-items: center; /* Mengatur teks di tengah horizontal */
  width: 600px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  font-family: 'Didot', serif;
  text-align: center;
}

.video-box h5 {
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

.video-box p {
  margin: 0;
  font-size: 17px;
  color: #666;
  text-align: justify;
  line-height: 1.5;
}



.header {
  font-family: 'Perpetua', serif;
  font-size: 50px;
  line-height: 1.5;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
}

footer {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
  color: #666;
  margin-bottom: 20px;
}

h3 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: 'Perpetua', serif;
  font-size: 40px;
  line-height: 1.5;
  font-weight: lighter;
}

p {
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 50px;
  color: rgb(180, 180, 189);
  font-family: 'Geneva', sans-serif;
  font-size: 20 px;
  line-height: 1.5;
}

@media only screen and (max-width: 896px) {
  p {
    font-size: 12px;
    padding: 10px;
    margin-bottom: 26px;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 414px) {
  video {
    width: 90%;
    height: 10%;
    padding: 10px;
  }
}

@media only screen and (max-width: 896px) {
  .header {
    font-size: 25px;
    margin-left: 5px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 896px) {
  h3 {
    font-size: 22px;
    line-height: 1.2;
    margin-top: -20px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 414px) {
  #slide-container {
    height: 200px;
    width: 90%;
   
  }
  .slide {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 414px) {
  .video-container {
    margin: 20px;
    margin-bottom: 30px;
  }
  .video-box {
    flex-direction: column;
    height: auto;
    width: 90%;
  }
  .video-box p{
    max-width: 100%;
    height: auto;
    font-size: 15px;

}

@media only screen and (max-width: 896px) {
  footer {
    font-size: 16px;
    margin: 20px;
  }
}

.caption {
    font-size: 14px;
    margin-top: 50px;
    text-align: center;
  }
  